<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <title>Robert's Personal Site</title>
    <link rel="stylesheet" href="static/styles.css">
  </head>

  <body>
    <table cellspacing="20">
      <tbody><tr>
        <td><img src="static/profile_pic.png" alt="robert profile picture"></td>
        <td><h1>Robert Banks</h1>
        <p><em>Christian, Husband, Father, Developer, & Life-Long Learner!</em></p>
        <p>I am a Software Developer and Business Analyst.</p></td>
      </tr>
    </tbody></table>
    <hr>
    <h3>Books and Teaching</h3>
    <ul>
      <li>Abundance of Hope: Everyday Encouragement for Believers</li>
      <li>The Essential Church</li>
      <li>Grieving Biblically</li>
    </ul>
    <hr>
    <h3>Work Experience</h3>
    <table cellspacing="10">
      <thead>
        <tr>
          <th>Dates</th>
          <th>Work</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2018-Present</td>
          <td>Senior Pastor HighPoint Baptist Church</td>
        </tr>
        <tr>
          <td>2023-Present</td>
          <td>Associate Analyst II/BA at Edaptive Computing</td>
        </tr>
        <tr>
          <td>2022-2023</td>
          <td>Full-Stack Software Developer Ingage Partners</td>
        </tr>
      </tbody>
    </table>
    <hr>
    <h3>Skills</h3>
    <table cellspacing="10">
      <tbody><tr>
        <td>Biblical Preaching/Teaching</td>
        <td>⭐️⭐️⭐️⭐️⭐️</td>
      </tr>
      <tr>
        <td>Communication</td>
        <td>⭐️⭐️⭐️⭐️⭐️</td>
      </tr>
       <tr>
        <td>Software Developer</td>
        <td>⭐️⭐️⭐️</td>
      </tr>
    </tbody></table>
    <hr>
    <a href="https://github.com/rhbanks779">My GitHub</a>
    <a href="https://angelabauer.github.io/cv/contact-me.html">Contact Me</a>
  

</body></html>